{#
/**
* @file
* Default theme implementation for my template.
*
* Available variables
* - variable1: The first variable.
* - variable2: The second variable.
*/
#}

{% block stylesheets %}
 
{% endblock %}

{% block my_javascripts %}

{% endblock  %}

{#{{ attach_library('reactpage/react-page') }}#}

<div class="">
  
</div>
